{% extends 'base.html.twig' %} 

{% block body %}

<style>
input::placeholder{
    color: white !important;
} 
</style>

<div class="container-fluid bg-dark min-vh-100">

    <div class="row p-1 pt-3">
        <div class="col-2 bg-secondary rounded-2 text-white">
            <h2 class="text-center">Nowości</h2>
        </div>

        <div class="col-1"></div> <!--Empty spacing!-->

        <div class="col-6 ">
        
            <div class="bg-secondary text-white rounded-2 p-2 d-flex flex-column"> <!--beggining of the post!-->
                <div class="d-flex flex-column"> <!--header of the post!-->
                    <div class="d-flex flex-row">
                        <img src="" alt="" style="width:50px; height:50px;">
                        <div class="d-flex flex-column ms-1">
                            <p class="m-0 p-0 text-warning">{{ post.user.username }}</p>
                            <p class="m-0 p-0 text-dark">{{ post.createdAt|date("Y-m-d h:i") }}</p>
                        </div>
                        <div class="ms-auto">
                            <div class="d-flex flex-row">
                                <h5 class="text-success me-2"><b>{{ post.score }}</b></h5>
                                <button class="btn btn-sm btn-success text-dark">+</button>
                            </div>
                        </div>
                    </div>
                    <p>{{ post.text }}</p>
                </div>
                <hr>

                {% for comment in comments %}
                <div class="d-flex flex-column ms-4 my-1"> <!-- comment !-->
                    <div class="d-flex flex-row">
                        <img src="" alt="" style="width:50px; height:50px;">
                        <div class="d-flex flex-column ms-1">
                            <p class="m-0 p-0 text-warning">{{ comment.user.username }}</p>
                            <p class="m-0 p-0 text-dark">{{ comment.createdAt|date("Y-m-d h:i") }}</p>
                        </div>
                        <div class="ms-auto">
                            <div class="d-flex flex-row">
                                <h5 class="text-success me-2"><b>{{ comment.score }}</b></h5>
                                <button class="btn btn-sm btn-success text-dark">+</button>
                            </div>
                        </div>
                    </div>
                    <p>{{ comment.text }}</p>
                </div><hr>
                {% endfor %}

                <div class="d-flex flex-column">
                <h4>Dodaj komentarz</h4>
                    <div class="form-group">
                        {{ form_start(commentForm) }}
                        {{ form_widget(commentForm) }}
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-success">Dodaj</button>
                    </div>
                    {{ form_end(commentForm) }}
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
