{% extends 'base.html.twig' %} 

{% block body %}
<div class="container-fluid bg-dark min-vh-100">

    <div class="row p-1 pt-3"> <!-- News !-->
        <div class="col-2 bg-secondary rounded-2 text-white">
            <h2 class="text-center min-vh-100 max-vh-100">Nowości</h2>
        </div>

        <div class="col-1"></div> <!--Empty spacing!-->

        <div class="col-5 d-flex flex-column pt-3 align-items-center">            
            <div class="card" style="width: 24rem;">
                {% if app.user.imagePath %}
                <img class="card-img-top" src="{{ asset(app.user.imagePath) }}">
                {% else %}
                <img class="card-img-top" src="{{ asset('uploads/userImage/defaultImage.png') }}">
                {% endif %}
                <div class="card-body d-flex flex-column align-items-center">
                    <h4 class="card-title">{{ app.user.username }}</h4>
                    <p class="card-text">
                    {% if app.user.description %}
                    {{ app.user.description }}
                    {% else %}
                    Nie masz jeszcze opisu. Dodaj coś ciekawego o sobie!
                    {% endif %}
                    </p>
                    <a href="/editUser/{{ app.user.id }}" class="btn btn-success">Edytuj profil</a>
                </div>
            </div>
        </div>
            <div class="col-4 bg-secondary rounded-2 min-vh-100">
                <h1 class="text-center">Posty w których brałeś udział</h1>
                {% for post in posts %}
                <hr>
                <div class="d-flex flex-column"> <!--header of the post!-->
                    <div class="d-flex flex-row">
                        <img src="" alt="" style="width:50px; height:50px;">
                        <div class="d-flex flex-column ms-1">
                            <p class="m-0 p-0 text-warning">{{ post.user.username }}</p>
                            <p class="m-0 p-0 text-dark">{{ post.createdAt|date("Y-m-d h:i") }}</p>
                        </div>
                    </div>
                    <p>{{ post.text }}</p>
                    <div><a href="/post/{{ post.id }}" class="btn btn-lg btn-outline-light">Przejdź do wpisu</a></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
